html {
	font-size: 16px;
	font-family: 'Roboto', sans-serif;
	background-color: #19CCF8;
}

h1 {
	margin: 0;
	padding: 20px 0;
	color: #19CCF8;
	text-shadow: 3px 3px 1px black;
	font-size: 60px;
	text-align: center;
}

p, li, h2 {
	font-size: 16px;
	line-height: 1.5;
	letter-spacing: 1px;
}

footer {
	font-size:10px;
	line-height: 1.5;
}

body {
	width: 500px;
	margin: 0 auto;
	background-color: #D4D9D9;
	padding: 0px 20px 20px 20px;
	border: 10px solid #FF7F02;
}

figure {
	text-align: center;
}

img {
	display: block;
	margin: 0 auto;
}